*.Rproj
*.tar.gz
.DS_Store
.RData
.Rhistory
.Rhistory
.Rproj.user/
.idea
src.Rcheck
src/.gitignore
src/Meta/
src/data/
src/doc/
src/inst/doc
src/vignettes/*.R
src/vignettes/*.html
src/vignettes/*.pdf
